@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/MyCss/Login.css" rel="stylesheet" />
    <link href="~/Scripts/Library_js/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />

</head>
<body>
    
        @RenderBody()
   
</body>
</html>
