
@{
    ViewBag.Title = "KhoHang";
    Layout = "~/Views/Shared/_LayoutDesigner.cshtml";
}

<div class="menu-option">
    <ul>
        <li><button id="btnPrint"><i class="far fa-edit"></i>In</button></li>

    </ul>
</div>
<div class="grid">

    <table class="tbData" id="tbKhoHang" border="1" cellpadding="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ảnh</th>
                <th>Tên Hàng Hóa</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Tổng Tiền Vốn</th>
                <th>Tên Mặt Hàng</th>
                
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h2>fsdfsfsd</h2>
</div>

<script src="~/Scripts/Library_js/Jquery/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Library_js/datatable-js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Library_js/datatable-js/dataTables.scrollResize.min.js"></script>
<script src="~/Scripts/Library_js/print-jquery/printThis.js"></script>
<script src="~/Scripts/MyJavascript/KhoHang.js"></script>
