
@{
    ViewBag.Title = "MatHang";
    Layout = "~/Views/Shared/_LayoutDesigner.cshtml";
}

<div class="menu-option">
    <ul>
        <li><button id="btnAdd"><i class="far fa-edit"></i>Thêm</button></li>
        <li><button id="btnDelete"><i class="fas fa-trash-alt"></i>Xóa</button></li>
        <li><button id="btnEdit"><i class="fas fa-tools"></i>Sửa</button></li>
        <!--<li>

        <input type="text" id="myInputSearch" placeholder="Tiềm Kiếm....." title="Type in a name">
        </li>-->

    </ul>
</div>

<div class="grid">
    <table class="tbData" id="tbMatHang" border="1" cellpadding="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Mặt Hàng</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="dialog-modal">
</div>
<div class="dialog">
    <div class="dialog-tittle">
        <div class="tittle-text"><i class="fas fa-info-circle"></i>Thông Tin Mặt Hàng</div>
        <div class="tittle-button-close">
            <i style="color : white " class="far fa-window-close"></i>
        </div>
    </div>
    <div class="dialog-body">

        <div class="dialog-input">
            <i class="fas fa-user"></i>ID(*)
            <input class="required valid-ID" id="txtCode" type="text" placeholder="ID" autocomplete="off" />
            <i class="fab fa-product-hunt"></i>Tên Mặt Hàng(*)
            <input id="txtName" class="required valid-Name" type="text" placeholder="Tên" autocomplete="off" />


        </div>
    </div>

    <div class="dialog-button">
        <button id="btnSave">Lưu</button>
        <button id="btnCancle">Thoắt</button>

    </div>


</div>

<script src="~/Scripts/Library_js/Jquery/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/Library_js/datatable-js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Library_js/datatable-js/dataTables.scrollResize.min.js"></script>
<script src="~/Scripts/MyJavascript/MatHang.js"></script>